<launch>
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="tcp://127.0.0.1:5760" />
    <param name="system_id" value="2" />
  </include>
  <include file="$(find usb_cam)/launch/usb_cam.launch" />
  <node name="offboard_control" type="offboard_control" pkg="offboard_control" output="screen" />
  <node pkg="rosbag" type="record" name="rosbag_record_cam_imu"
       args="record -o /home/tik/Documents/ /usb_cam/image_raw /mavros/imu/data"/>   
</launch>
