<launch>
  <arg name="name" default="whycon"/>
  <arg name="targets" default="1"/>

  <group ns="camera">
    <node pkg="image_proc" type="image_proc" name="image_proc"/>
  </group>

  <node name="whycon" type="whycon" pkg="whycon" output="screen">
    <param name="targets" value="$(arg targets)"/>
    <param name="name" value="$(arg name)"/>
  </node>

  <node name="transformer" type="transformer" pkg="whycon" output="screen"/>
</launch>
  
